@import "./variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  width: 100%;
  height: 100vh;
  background: $neutral-light;
  header {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.8rem 1rem;
    z-index: 1;
    background: $primary-medium;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    .header__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $neutral-light;
      h1 {
        font-size: 1.4rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: "Rafgins", sans-serif;
        text-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;
      }
      #openMenu {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        text-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;
        i {
          color: $neutral-light;
          padding-top: 0.5rem;
          font-size: 1.6rem;
        }
      }
    }
    nav {
      position: fixed;
      top: 0;
      right: -100%;
      width: 60%;
      height: 100dvh;
      backdrop-filter: blur(2px);
      border-radius: 20px 0 0 0px;
      background: rgba(255, 255, 255, 0.5);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
      -webkit-border-radius: 20px 0 0 0px;
      -moz-border-radius: 20px 0 0 0px;
      -ms-border-radius: 20px 0 0 0px;
      -o-border-radius: 20px 0 0 0px;
      .btn__container {
        padding-right: 0.9rem;
        display: flex;
        justify-content: end;
        align-items: center;
        #closeBtn {
          height: 60px;
          color: $text-default;
          font-size: 2rem;
          background: transparent;
          outline: none;
          border: none;
          cursor: pointer;
          display: flex;
          justify-self: center;
          align-items: end;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }
      ul {
        margin-top: 5rem;
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 1rem;
        letter-spacing: 1px;
        font-size: 1.3rem;
        li {
          overflow-x: hidden;
          padding-bottom: 0.3rem;
          a {
            color: $text-light;
            position: relative;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            &::before {
              content: "";
              position: absolute;
              bottom: -2px;
              left: -110%;
              width: 100%;
              border: 2px solid $primary-dark;
              transition: all 0.4s ease-in-out;
              -webkit-transition: all 0.4s ease-in-out;
              -moz-transition: all 0.4s ease-in-out;
              -ms-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
            }
            &:hover {
              color: $neutral-dark;
              i {
                color: $secondary-dark;
              }
              &::before {
                left: 0;
              }
            }
          }
        }
        .active {
          color: $neutral-dark;
          i {
            color: $secondary-dark;
          }
          &::before {
            left: 0;
          }
        }
      }
    }
  }
  #Home {
    height: fit-content;
    padding-top: 3.5rem;
    backdrop-filter: blur(10px);
    // background: $neutral-light;
    background: #eaf0f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    .right {
      width: 100%;
      margin-top: 6rem;
      height: 100vh;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      text-transform: uppercase;
      // font-size: 1.8rem;
      color: $text-default;
      // background: #000;
      .right__heading,
      .right__second-heading {
        color: $secondary-dark;
        font-size: 2.2rem;
        white-space: nowrap;
        text-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;

        span {
          color: $primary-medium;
        }
      }
      p {
        margin-top: 1rem;
        word-spacing: 1px;
        font-size: 1.3rem;
      }
      .social {
        margin: 1.5rem 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .social__icons {
          font-size: 1.5rem;
          color: $primary-medium;
          text-shadow: -1px 2px 2px rgba(25, 118, 210);
        }
      }
      button {
        border: none;
        padding: 0.6rem;
        font-size: 1rem;
        border-radius: 20px;
        color: $neutral-light;
        background: $secondary-medium;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
          rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border: 1px solid $primary-dark;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        &:active {
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
      }
    }
    .left {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
