@import "./variable";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  width: 100%;
  height: 100vh;
  background: $neutral-light;
  header {
    background: $primary-light;
    padding: 0.8rem 1rem;
    .header__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $text-default;
      h1 {
        font-size: 1.3rem;
      }
      #openMenu{
        background: transparent;
        border: none;
        outline: none;
        i {
          padding-top: 0.5rem;
          font-size: 1.6rem;
        }
      }
    }
    nav {
      position: fixed;
      top: 0;
      right: -100%;
      width: 60%;
      height: 100dvh;
      backdrop-filter: blur(2px);
      border-radius: 20px 0 0 0px;
      background: rgba(255, 255, 255, 0.3);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
      -webkit-border-radius: 20px 0 0 0px;
      -moz-border-radius: 20px 0 0 0px;
      -ms-border-radius: 20px 0 0 0px;
      -o-border-radius: 20px 0 0 0px;
      .btn__container {
        padding: 0.9rem;
        display: flex;
        justify-content: end;
        align-items: center;
        #closeBtn {
          color: $text-default;
          font-size: 2rem;
          background: transparent;
          border-radius: 20px;
          outline: none;
          border: none;
          cursor: pointer;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
          i {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
        }
      }
      ul {
        margin-top: 4rem;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 1rem;
        letter-spacing: 1px;
        font-size: 1.3rem;
        li {
          overflow-x: hidden;
          padding-bottom: 0.3rem;
          a {
            color: $text-light;
            position: relative;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            &::before {
              content: "";
              position: absolute;
              bottom: -2px;
              left: -110%;
              width: 100%;
              border: 2px solid $primary-dark;
              transition: all 0.4s ease-in-out;
              -webkit-transition: all 0.4s ease-in-out;
              -moz-transition: all 0.4s ease-in-out;
              -ms-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
            }
            &:hover {
              color: $neutral-dark;
              i {
                color: $secondary-dark;
              }
              &::before {
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}
